html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*overflow-x: hidden;*/
    background-color: #72CFED;
    position: relative;
}

body {
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}


/* Typhography */

* {
    font-family: 'Montserrat', sans-serif;
    color: #000;
}


/* Reusable */

.black-text {
    color: #000000;
}

.white-text {
    color: black;
}

.penting-text {
    color: black;
}


/* Header */

#header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10% 0;
    min-height: 300px;
    /*  background: url(../img/gsp2.png);
    background-size: 50%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #72CFED;*/
}

.bg-1 {
    top: -0.5%;
    width: 100%;
    height: 100%;
    padding: 10% 0;
    min-height: 300px;
    background: url(../img/gunung.png);
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
}

.bg-2 {
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10% 0;
    min-height: 300px;
    background: url(../img/gsp2.png);
    background-size: 50%;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: absolute;
}

.bg-3 {
    top: 0;
    left: 10%;
    width: 100%;
    height: 100%;
    padding: 10% 0;
    min-height: 300px;
    background: url(../img/gerbangkiri.png);
    background-size: 15%;
    background-position: left bottom;
    background-repeat: no-repeat;
    position: absolute;
}

.bg-4 {
    top: 0;
    right: 10%;
    width: 100%;
    height: 100%;
    padding: 10% 0;
    min-height: 300px;
    background: url(../img/gerbangkanan.png);
    background-size: 15%;
    background-position: right bottom;
    background-repeat: no-repeat;
    position: absolute;
}

.content {
    z-index: 1000 !important;
    position: relative;
}

.text-header {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
    font-size: 60px;
    font-weight: lighter;
    color: #72CFED;
    z-index: 10;
}

.judul {
    color: #FFCE07;
    text-shadow: 4px 3px 0px #7F4FA0, 9px 8px 0px rgba(0, 0, 0, 0.25);
}

.judul-p {
    color: #FFCE07;
    text-shadow: 2px 1px 0px #7F4FA0, 3px 2px 0px rgba(0, 0, 0, 0.25);
}

.text-subtitle {
    font-size: 18px;
}

p.tagline {
    font-size: 16px;
    /*line-height: 1.7em;*/
}


/* logo nyala */

img.nyala {
    width: 10%;
}

.nyala {
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 1));
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.nyala:hover {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.7));
}

.btn-custom {
    background-color: transparent;
    border: 3px solid #72CFED;
    border-radius: 0px;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    color: #72CFED !important;
}

.btn-custom:hover {
    background-color: #72CFED;
    border: 3px solid #72CFED;
    border-radius: 0px;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}


/* Mouse Scroll */

@-webkit-keyframes scroll-inner {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(50%);
    }
}

@keyframes scroll-inner {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(50%);
    }
}

@-webkit-keyframes scroll-mouse {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(25%);
    }
}

@keyframes scroll-mouse {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(25%);
    }
}

.arrow-down {
    color: white;
    position: relative;
    text-align: center;
    -webkit-animation: scroll-mouse 1.5s;
    animation: scroll-mouse 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 480px) {
    .arrow-down {
        margin-top: 0px;
    }
    #header {
        padding: 20% 0;
    }
    .text-header {
        letter-spacing: 0px;
    }
    img.nyala {
        width: 20%;
    }
}


/* Penjelasan */

#penjelasan {
    height: auto;
    padding: 9% 0;
    width: 100%;
    background-color: #72CFED;
}


/* Footer */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: auto;
    background-color: #72CFED;
}

.copyright {
    position: relative;
    padding: 10px;
}

.copyright p {
    margin-bottom: 0px;
    line-height: 40px;
}

@media screen and (max-width: 480px) {
    .footer {
        position: relative;
    }
    .copyright p {
        text-align: center;
    }
}

.social-media {
    position: relative;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    color: #E5E5E5;
    padding: 10px;
    float: right;
}

.penting {
    padding: 20px 0;
    /* font-size: 20px;*/
    color: whitesmoke !important;
    /*  text-shadow: 1px 1px orange;*/
    background-color: transparent;
    text-align: center;
    border: 1px solid white;
}

@media screen and (max-width: 480px) {
    .social-media {
        float: none;
        justify-content: center;
        /*padding-top: 0;*/
    }
}

.social-media a {
    color: ghostwhite;
    padding-right: 15px;
    text-decoration: none;
}

.social-media a:hover {
    color: white;
}

.social-media .social-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: border-radius .3s, background-color .5s;
    background-color: transparent;
    margin-right: 5px;
}

.social-media .social-wrapper:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.10);
    transition: border-radius .3s, background-color .3s;
}

.social-media .social-wrapper:hover a {
    color: ghostwhite;
}

.social-media .social-wrapper a {
    padding: 20%;
}

.clouds {
    height: 300px;
    position: absolute;
}

.cloud {
    position: absolute;
    background: url(../img/aw.png) no-repeat;
    -webkit-transform: translateX(-400px);
    -webkit-animation: move 20s linear infinite;
    display: block-inline;
    width: 200px;
    height: 200px;
    overflow-x: hidden;
    z-index: 1;
}

.cloud:nth-child(1) {
    -webkit-transform: translateX(400px);
    -webkit-animation: move-reverse 100s linear infinite;
    background: url(../img/aw.png) no-repeat;
    margin-top: -100px;
    background-size: 60%;
}

.cloud:nth-child(2) {
    -webkit-transform: translateX(-100px);
    -webkit-animation: move 70s linear infinite;
    background: url(../img/aw.png) no-repeat;
    margin-top: 0px;
    background-size: 40%;
}

.cloud:nth-child(3) {
    -webkit-transform: translateX(-600px);
    -webkit-animation: move-reverse 70s linear infinite;
    background: url(../img/aw.png) no-repeat;
    margin-top: 70px;
    background-size: 70%;
}

.cloud:nth-child(4) {
    -webkit-transform: translateX(-300px);
    -webkit-animation: move-reverse 60s linear infinite;
    background: url(../img/aw.png) no-repeat;
    margin-top: 150px;
    background-size: 55%;
}

.cloud:nth-child(5) {
    -webkit-transform: translateX(-100px);
    -webkit-animation: move 40s linear infinite;
    background: url(../img/aw.png) no-repeat;
    margin-top: 100px;
    background-size: 30%;
}

.cloud:nth-child(6) {
    -webkit-transform: translateX(-200px);
    -webkit-animation: move 50s linear infinite;
    background: url(../img/aw.png) no-repeat;
    margin-top: 190px;
    background-size: 70%;
}

.cloud:nth-child(7) {
    -webkit-transform: translateX(-800px);
    -webkit-animation: move 90s linear infinite;
    background: url(../img/aw.png) no-repeat;
    margin-top: 270px;
    background-size: 100%;
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: translateX(-340px);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(1650px);
        opacity: 0;
    }
}

@-webkit-keyframes move-reverse {
    0% {
        -webkit-transform: translateX(1000px);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1650px);
        opacity: 0;
    }
}


/*#road {
    width: 100%;
    height: 60px;
    background-color: black;
}

#road .marka {
    position: relative;
    padding-top: 25px;
    width: 100%;
    border-bottom: 10px dashed white;
    -webkit-animation: marka 1s linear infinite;
}

@-webkit-keyframes marka {
    0% {
        -webkit-transform: translateX(0px);
    }
    100% {
        -webkit-transform: translateX(-10px);
    }
}*/

#road {
    width: 100%;
    height: 60px;
    background-color: black;
    z-index: 1;
}

#road .marka {
    padding-top: 25px;
    position: relative;
    border-bottom: 6px solid #696969;
    border-bottom-style: dashed;
    width: 100%;
    animation: road .9s linear infinite;
}

@keyframes road {
    from {
        left: 0px;
    }
    to {
        left: -35px;
    }
}

#vespa {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 100;
    margin-bottom: 10px;
}

#vespa2 {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 100;
    margin-bottom: 40px;
}

#vespa .naikvespa {
    background: url(../img/sepeda.png) no-repeat;
    position: absolute;
    display: block-inline;
    background-size: 50%;
    height: 150px;
    width: 150px;
    -webkit-transform: translateX(400px);
    -webkit-animation: move 20s linear infinite;
}

#vespa2 .naikvespa {
    background: url(../img/sepeda.png) no-repeat;
    position: absolute;
    display: block-inline;
    background-size: 50%;
    height: 150px;
    width: 150px;
    -webkit-transform: translateX(400px);
    -webkit-animation: move 50s linear infinite;
}


/*.background {
    background: url(../img/bg-gerak.png) repeat;
    position: relative;
    background-size: contain;
    height: 100%;
    width: 400%;
    -webkit-transform: translateX(-400px);
    -webkit-animation: move-reverse 10s linear infinite;
    background-color: #72CFED;
    
}*/

.background {
    background: transparent url(../img/lamp1.png) repeat-x 0 bottom;
    background-size: contain;
    height: 15%;
    left: -100%;
    position: relative;
    width: 400%;
}

.background {
    -webkit-animation: background 40s linear infinite;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translateX(0) translate3d(0, 0, 0);
    animation: background 40s linear infinite;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0, 0, 0)
}

@keyframes background {
    0% {
        transform: translateX(0px)
    }
    100% {
        transform: translateX(-1300px)
    }
}

@-webkit-keyframes background {
    0% {
        -webkit-transform: translateX(0px) translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translateX(-1300px) translate3d(0, 0, 0)
    }
}

.container-sun {
    text-align: center;
    z-index: -1000;
}


/* the svg element */

.svg-sun {
    width: 300px;
    height: 300px;
    margin-top: -100px;
    -webkit-transform-origin: center center;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: 50% 50%;
    -webkit-animation: spin 25s linear infinite;
    -moz-animation: spin 25s linear infinite;
    -o-animation: spin 25s linear infinite;
    -ms-animation: spin 25s linear infinite;
    animation: spin 25s linear infinite;
}


/* the circle element in the svg itself */

#sun {
    stroke-width: 20;
    stroke-dasharray: 1;
    stroke-dashoffset: 10%;
    fill: #F1B561;
    stroke: #F1B561;
    /* oren tua : #E48B25 */
}


/* start spin animation */

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.door-left,
.door-right {
    z-index: 10000;
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0%;
    bottom: 0%;
    animation-delay: 1s;
    transition: all ease 2s;
    -moz-transition: all ease-in-out 2s;
    -webkit-transition: all ease-in-out 2s;
    -o-transition: all ease-in-out 2s;
    -ms-transition: all ease-in-out 2s;
    overflow-x: hidden;
}

.door-left {
    left: 0%;
    background: url(../img/kiri.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    /*    animation: kiri 1.5s infinite;*/
}

.door-right {
    left: 50%;
    background: url(../img/kanan.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    /*  animation: kanan 1.5s infinite;*/
}

a.link-penting:link {
    font-style: bold;
    color: black;
}

a.link-penting:visited {
    color: black;
}


/*@keyframes kiri {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes kanan {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}*/

a .video-link-icon {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #FA183D;
    color: #fff;
    line-height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

a .video-link-icon:after {
    position: absolute;
    content: "";
    top: -6px;
    left: -6px;
    width: 66px;
    height: 66px;
    background: #444;
<<<<<<< HEAD
    background: rgba(0, 0, 0, 0.1);
=======
    background: rgb(186, 31, 36, 0.25);
>>>>>>> refs/remotes/origin/master
    z-index: -99;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
}

a:hover .video-link-icon,
a:focus .video-link-icon {
    outline: 0;
    background: #fff;
    color: #FA183D !important;
}

@-webkit-keyframes pulse-border {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes pulse-border {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
<<<<<<< HEAD
=======

@media screen and (min-width: 480px) {
    .modal {
        text-align: center;
        padding: 0!important;
    }
    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
}
>>>>>>> refs/remotes/origin/master
