html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}


/* Typhography */

* {
    font-family: 'Montserrat', sans-serif;
    color: #000;
}


/* Reusable */

.black-text {
    color: #000000;
}

.white-text {
    color: #ffffff;
}

.penting-text {
    color: ivory;
    text-shadow: 1px 1px #7F50A0;
}


/* Header */

#header {
    width: 100%;
    height: 100%;
    padding: 10% 0;
    min-height: 300px;
    background: url(../img/gsp2.png);
    background-size: 50%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #2D2B6E;
}

.content {
    z-index: 1000 !important;
    position: relative;
}

.text-header {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
    font-size: 60px;
    font-weight: lighter;
    color: #4BE2D3;
    z-index: 10;
}

.text-subtitle {
    font-size: 18px;
}

p.tagline {
    font-size: 16px;
    /*line-height: 1.7em;*/
}


/* logo nyala */

img.nyala {
    width: 10%;
}

.nyala {
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 1));
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.nyala:hover {
    -webkit-filter: drop-shadow(20px 20px 20px rgba(0, 231, 255, 2));
}

.btn-custom {
    background-color: transparent;
    border: 3px solid #4BE2D3;
    border-radius: 0px;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s ease-in-out;
    color: #4BE2D3 !important;
}

.btn-custom:hover {
    background-color: #4BE2D3;
    border: 3px solid #4BE2D3;
    border-radius: 0px;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
}


/* Mouse Scroll */

@-webkit-keyframes scroll-inner {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(50%);
    }
}

@keyframes scroll-inner {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(50%);
    }
}

@-webkit-keyframes scroll-mouse {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(25%);
    }
}

@keyframes scroll-mouse {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(25%);
    }
}

.arrow-down {
    color: white;
    position: relative;
    text-align: center;
    -webkit-animation: scroll-mouse 1.5s;
    animation: scroll-mouse 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 480px) {
    .arrow-down {
        margin-top: 0px;
    }
    #header {
        padding: 20% 0;
    }
    .text-header {
        letter-spacing: 0px;
    }
    img.nyala {
        width: 20%;
    }
}


/* Penjelasan */

#penjelasan {
    height: auto;
    padding: 9% 0;
    width: 100%;
    background-color: #2D2B6E;
}


/* Footer */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: auto;
    background-color: #2D2B6E;
}

.copyright {
    position: relative;
    padding: 10px;
}

.copyright p {
    margin-bottom: 0px;
    line-height: 40px;
}

@media screen and (max-width: 480px) {
    .footer {
        position: relative;
    }
    .copyright p {
        text-align: center;
    }
}

.social-media {
    position: relative;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    color: #E5E5E5;
    padding: 10px;
    float: right;
}

#cp {
   background-color: #2D2B6E;
}

.penting {
    padding: 20px 0;
    /* font-size: 20px;*/
    color: whitesmoke !important;
    /*  text-shadow: 1px 1px orange;*/
    background-color: transparent;
    text-align: center;
    border: 1px solid white;
}

@media screen and (max-width: 480px) {
    .social-media {
        float: none;
        justify-content: center;
        /*padding-top: 0;*/
    }
}

.social-media a {
    color: ghostwhite;
    padding-right: 15px;
    text-decoration: none;
}

.social-media a:hover {
    color: white;
}

.social-media .social-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: border-radius .3s, background-color .5s;
    background-color: transparent;
    margin-right: 5px;
}

.social-media .social-wrapper:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.10);
    transition: border-radius .3s, background-color .3s;
}

.social-media .social-wrapper:hover a {
    color: ghostwhite;
}

.social-media .social-wrapper a {
    padding: 20%;
}

.clouds {
    height: 300px;
    position: absolute;
}

.cloud {
    position: absolute;
    display: block-inline;
    width: 200px;
    height: 200px;
    overflow-x: hidden;
}

.cloud:nth-child(2) {
    -webkit-transform: translateX(-400px);
    -webkit-animation: move 7s linear infinite;
    background: url(../img/cloud.png) no-repeat;
    margin-top: 100px;
    background-size: 30%;
}

.cloud:nth-child(3) {
    -webkit-transform: translateX(-300px);
    -webkit-animation: move 5s linear infinite;
    background: url(../img/cloud.png) no-repeat;
    margin-top: 200px;
    background-size: 10%;
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: translateX(-340px);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(1650px);
        opacity: 0;
    }
}
