.site-header {
    background-color: #073C64;
}

.themeum-latest-post-content .entry-title a:hover,
.common-menu-wrap .nav > li.current > a,
.header-solid .common-menu-wrap .nav > li.current > a,
.portfolio-filter .btn-link.active,
.portfolio-filter li a:hover,
.latest-review-single-layout2 .latest-post-title a:hover,
.blog-arrows a:hover {
    color: white;
}

header.header-transparent .common-menu-wrap .nav > li > a::after,
header.header-transparent .common-menu-wrap .nav > li > a::before,
header.header-solid .common-menu-wrap .nav > li > a::before,
header.header-solid .common-menu-wrap .nav > li > a::after,
header.header-borderimage .common-menu-wrap .nav > li > a::before,
header.header-borderimage .common-menu-wrap .nav > li > a::after {
    color: white;
}

header.header-transparent .common-menu-wrap .nav > li > a::after,
header.header-transparent .common-menu-wrap .nav > li > a::before,
header.header-solid .common-menu-wrap .nav > li > a::before,
header.header-solid .common-menu-wrap .nav > li > a::after,
header.header-borderimage .common-menu-wrap .nav > li > a::before,
header.header-borderimage .common-menu-wrap .nav > li > a::after {
    color: white;
}

.header-solid .common-menu-wrap .nav > li.menu-item-has-children::after,
.header-borderimage .common-menu-wrap .nav > li.menu-item-has-children::after,
.header-solid .common-menu-wrap .nav > li > a,
.header-borderimage .common-menu-wrap .nav > li > a {
    color: white;
}

.kc_tabs > .kc_wrapper > .kc_tabs_nav {
    background: #eee;
    float: left;
    min-height: 50px;
    margin: 0px;
    width: auto;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.subtitle-cover.sub-title {
    display: none !important;
    visibility: hidden !important;
    opacity: 1;
}

.subtitle-cover {
    display: none !important;
    visibility: hidden !important;
    opacity: 1;
}

.sub-title {
    display: none !important;
    visibility: hidden !important;
    opacity: 1;
}

.footer-wrap {
    color: #fff;
    background-color: #1A2C43;
}

.footer-copyright {
    padding: 20px 0;
    color: rgb(110, 109, 109);
    color: #fff;
}

.social-media {
    position: absolute;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    color: #E5E5E5;
    padding: 10px;
    float: right;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 480px) {
    .social-media {
        float: none;
        justify-content: center;
        /*padding-top: 0;*/
    }
}

.social-media a {
    color: ghostwhite;
    padding-right: 15px;
    text-decoration: none;
}

.social-media a:hover {
    color: white;
}

.social-media .social-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: border-radius .3s, background-color .5s;
    background-color: transparent;
    margin-right: 5px;
}

.social-media .social-wrapper:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.10);
    transition: border-radius .3s, background-color .3s;
}

.social-media .social-wrapper:hover a {
    color: ghostwhite;
}

.social-media .social-wrapper a {
    padding: 20%;
}

/*hsdiahdfuihadf*/

.socialmedia {
    position: absolute;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    color: #E5E5E5;
    padding: 20px;
    float: right;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 480px) {
    .socialmedia {
        float: none;
        justify-content: center;
        /*padding-top: 0;*/
    }
}

.socialmedia a {
    color: ghostwhite;
    padding-right: 30px;
    text-decoration: none;
}

.socialmedia a:hover {
    color: white;
}

.socialmedia .social-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    transition: border-radius .3s, background-color .5s;
    background-color: transparent;
    margin-right: 10px;
}

.socialmedia .social-wrapper:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.10);
    transition: border-radius .3s, background-color .3s;
}

.socialmedia .social-wrapper:hover a {
    color: ghostwhite;
}

.socialmedia .social-wrapper a {
    padding: 20%;
}

